<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-attr-class="{{account == 'transactions' && 'active'}}"><a href="/transactions">Transactions</a></li>
    <li role="presentation" ng-attr-class="{{account == 'deposits' && 'active'}}"><a href="/deposits">Deposits</a></li>
    <li role="presentation" ng-attr-class="{{account == 'withdrawals' && 'active'}}"><a href="/withdrawals">Withdrawals</a></li>
    <li role="presentation" ng-attr-class="{{account == 'invest' && 'active'}}"><a href="/invest">Invest</a></li>
    <li role="presentation" ng-attr-class="{{account == 'settings' && 'active'}}"><a href="/settings">My Settings</a></li>
    <li role="presentation" ng-attr-class="{{account == 'affiliate' && 'active'}}"><a href="/affiliate">Affiliates</a></li>
</ul>
