<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play" ng-if="AuthSvc.isLoggedIn">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">My Account</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div role="tabpanel" id="my-account-settings">
                        <ng-include src="'tpl/account.html'"></ng-include>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <h3>Affiliate Programme</h3>
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <form name="unique-affiliate-link" method="post" id="unique-affiliate-link">
                                            <div class="form-group">
                                                <label class="control-label" for="my-unique-affiliate-link">My Affiliate Unique Link</label>
                                                <input type="text" class="form-control" id="my-unique-affiliate-link" ng-model="data.url" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-12 col-md-8" id="affiliates-statuses">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">My Referals</label><br />
                                                    <h5>{{data.referrals}}</h5>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">My Tier Status</label><br />
                                                    <h5>{{data.level}}</h5>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label">My Payout</label><br />
                                                    <h5>{{data.payout | balance}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <p>The referral program will allow for users to gain a profit share depending on their Tiers. The referral system will work as follows:</p>
                                <p>The Tiers are calculated using the amount of total profit from the referred players. Affiliates will receive a percentage of the House’s Profits yielded by their referred players.</p>
                                <h5>Bronze Tier</h5>
                                <p><em>10% of referred players losses (House Profits)</em></p>
                                <p>Up to 25 Bitcoin per month. <br />Up to 1000 Litecoin per month.</p>
                                <h5>Silver Tier</h5>
                                <p><em>15% of referred players losses (House Profits)</em></p>
                                <p>Between 25 and 50 Bitcoin per month. <br />Between 1000 and 2000 Litecoin per month.</p>
                                <h5>Gold Tier</h5>
                                <p><em>20% of referred players losses (House Profits)</em></p>
                                <p>In excess of 50 Bitcoin per month. <br />In excess of 2000 Litecoin per month</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-include src="'tpl/overlay.html'" ng-if="!AuthSvc.isLoggedIn"></ng-include>
    </section>
</main>
