<div id="chats-container" ng-controller="ChatCtrl">
    <div id="chats-messages">
        <article class="chatbox {{message.cls}}" ng-repeat="message in data.messages">
            <p>
                <strong class="username" ng-if="!message.to">{{message.from}}:</strong>
                <strong class="username" ng-if="message.to">{{message.from}} &rarr; {{message.to}}:</strong>
                <!-- <span class="emoji-circle"></span> -->
            </p>
            <p>{{message.message}}</p>
        </article>
    </div>
    <footer>
        <form ng-submit="send()" autocomplete="off">
            <div class="form-group">
                <input class="form-control" name="chat-message" id="chat-message" ng-model="data.currentMessage" ng-disabled="!ExchangeSvc.socket.connected" />
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="!ExchangeSvc.socket.connected">Send Chat Message</button>
        </form>
    </footer>
</div>
