<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">Contact</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5">
                    <form name="contact" class="validate" id="contact-form">
                        <div class="form-group">
                            <label for="name" class="control-label">Name</label>
                            <input class="form-control required" name="name" id="name" placeholder="Name" ng-model="data.name" />
                            <p class="help-block error" ng-if="errors.name">{{errors.name}}</p>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input class="form-control required" name="email" id="email" placeholder="e.g. john@appleseed.com" ng-model="data.email" />
                            <p class="help-block error" ng-if="errors.email">{{errors.email}}</p>
                        </div>
                        <div class="form-group">
                            <label for="number" class="control-label">Number</label>
                            <input class="form-control required" name="number" id="number" placeholder="e.g. 072 123 4567" ng-model="data.phone" />
                            <p class="help-block error" ng-if="errors.number">{{errors.number}}</p>
                        </div>
                        <div class="form-group">
                            <label for="message" class="control-label">Message</label>
                            <textarea class="form-control required" name="message" id="message" placeholder="Your thoughts or comments" ng-model="data.message"></textarea>
                            <p class="help-block error" ng-if="errors.message">{{errors.message}}</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Are you human?</label>
                            <div re-captcha ng-model="data.captcha"></div>
                            <p class="help-block error" ng-if="errors.captcha">{{errors.captcha}}</p>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="col-xs-6">
                        <h4>Physical Address</h4>
                            <span>1234 Some Street Address
                                <br /> Meldor Park
                                <br /> Some Suburb
                                <br /> Johannesburg
                            </span>
                    </div>
                    <div class="col-xs-6">
                        <h4>Postal Address</h4>
                            <span>1234 Some Street Address
                                <br /> Meldor Park
                                <br /> Some Suburb
                                <br /> Johannesburg
                            </span>
                    </div>
                    <div class="col-xs-12">
                        <hr />
                        <iframe class="map" frameborder="0" src="http://maps.google.co.za/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=29+New+Market+Road,+Northriding+2162&amp;aq=&amp;sll=-28.45,24.7&amp;sspn=15.211089,28.54248&amp;ie=UTF8&amp;hq=&amp;hnear=29+New+Market+Rd,+Hoogland,+Randburg,+City+of+Johannesburg+Metropolitan+Municipality,+Gauteng+2169&amp;t=m&amp;z=14&amp;ll=-26.03804,27.9569&amp;output=embed"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
