<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play" ng-if="AuthSvc.isLoggedIn">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">My Account</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div role="tabpanel" id="my-account-settings">
                        <ng-include src="'tpl/account.html'"></ng-include>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <h3>{{account.currency}} Deposits</h3>
                                <div ng-repeat="account in AccountsSvc.accounts">
                                    <div class="row deposit-row">
                                        <div class="col-sm-4 first"><span class="address-discreption">{{account.currency_name}} Deposits Address</span></div>
                                        <div class="col-sm-4"><a href="{{account.scheme}}:{{account.address}}" class="{{account.scheme}}-address">{{account.address}}</a></div>
                                        <div class="col-sm-4 last "><button class="btn btn-default" ng-click="newAddress(account.id)">New Address</button></div>
                                    </div>
                                    <p>Deposits will reflect in your account after {{account.required_confirmations}} confirmation(s).</p>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-include src="'tpl/overlay.html'" ng-if="!AuthSvc.isLoggedIn"></ng-include>
    </section>
</main>
