<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play" ng-if="AuthSvc.isLoggedIn">
            <div class="row">
                <div class="col-sm-5">
                    <form id="dice-game-form">
                        <ng-include src="'tpl/instructions.html'"></ng-include>
                        <ng-include src="'tpl/game-accounts.html'"></ng-include>
                        <div class="form-group">
                            <label class="control-label" for="base-bet">Base Bet</label>
                            <input type="text" class="form-control" id="base-bet" ng-model="data.bet" placeholder="0.00000000" />
                            <p class="help-block error" ng-if="errors.bet">{{errors.bet}}</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="payout">Payout</label>
                                    <input type="text" class="form-control" id="payout" ng-attr-value="{{data.payout}}" readonly="readonly" placeholder="0.00000000" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="multiplier">Multiplier</label>
                                    <input type="text" class="form-control" id="multiplier" ng-model="data.multiplier" readonly="readonly" placeholder="0" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group input-slider">
                                    <label class="control-label">Chances</label>
                                    <input class="input-slide" slider data-slider-max="95" data-slider-step="1" data-slider-min="5" type="text" ng-model="data.chances" />
                                    <p class="help-block error" ng-if="errors.chances">{{errors.chances}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="max-profit">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <span class="max-profit-edendice">5%</span>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">

                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
                                <span class="max-profit-edendice">95%</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="control-label">
                                    <input type="radio" icheck value="low" ng-model="data.side" />
                                    <span style="padding-left: 5px;">Bet low</span>
                                </label>
                            </div>
                            <div class="col-xs-6" style="text-align: right;">
                                <label class="control-label">
                                    <span style="padding-right: 5px;">Bet high</span>
                                    <input type="radio" icheck checked="checked" value="high" ng-model="data.side" />
                                </label>
                            </div>
                        </div>
                        <ng-include src="'tpl/play.html'"></ng-include>
                    </form>
                </div>
                <div class="col-sm-7">
                    <ng-include src="'tpl/plays.html'"></ng-include>
                </div>
            </div>
        </section>
        <ng-include src="'tpl/overlay.html'" ng-if="!AuthSvc.isLoggedIn"></ng-include>
    </section>
</main>
