<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play" ng-if="AuthSvc.isLoggedIn">
            <div class="row">
                <div class="col-sm-5">
                    <form>
                        <ng-include src="'tpl/instructions.html'"></ng-include>
                        <ng-include src="'tpl/game-accounts.html'"></ng-include>
                        <div class="row">
                            <div class="col-xs-6 ">
                                <div class="form-group">
                                    <label class="control-label" for="my-roll">My Roll</label>
                                    <select class="selectpicker" selectpicker name="my-roll" id="my-roll" data-nonempty="true" data-nonempty-message="Please select an option" ng-options="key as value for (key, value) in rolls" ng-model="data.roll">
                                        <option value="">&mdash; Select a roll &mdash;</option>
                                    </select>
                                    <p class="help-block error" ng-if="errors.roll">{{errors.roll}}</p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">&nbsp;</label>
                                    <div class="control-label" id="choose-randon-number">
                                        <a href="#" ng-click="random()">Choose random number</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="edendice-payout">Payout</label>
                                    <select class="selectpicker" selectpicker name="edendice-payout" id="edendice-payout" ng-model="data.payout" ng-options="key as value for (key, value) in payouts">
                                        <option value="">&mdash; Select a payout &mdash;</option>
                                    </select>
                                    <p class="help-block error" ng-if="errors.payout">{{errors.payout}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6" id="edendice-bet-amount-field">
                                <div class="form-group">
                                    <label class="control-label" for="edendice-bet-amount">Bet Amount</label>
                                    <input type="text" class="form-control" id="edendice-bet-amount" placeholder="0.00000000" ng-model="data.bet" />
                                    <p class="help-block error" ng-if="errors.bet">{{errors.bet}}</p>
                                </div>
                            </div>
                            <div class="col-xs-6" id="edendice-bet-amount-range-field">
                                <label class="control-label" id="edendice-bet-amount-range">&nbsp;</label>
                                <div class="row" id="edendice-bet-amount-range-values">
                                    <a href="" class="change-bet" ng-click="min()">Min</a>
                                    <a href="" class="change-bet" ng-click="halve()">&divide; 2</a>
                                    <a href="" class="change-bet" ng-click="double()">&times; 2</a>
                                    <a href="" class="change-bet" ng-click="max()">Max</a>
                                </div>
                            </div>
                        </div>
                        <ng-include src="'tpl/play.html'"></ng-include>
                    </form>
                </div>
                <div class="col-sm-7">
                    <ng-include src="'tpl/plays.html'"></ng-include>
                </div>
            </div>
        </section>
        <ng-include src="'tpl/overlay.html'" ng-if="!AuthSvc.isLoggedIn"></ng-include>
    </section>
</main>
