<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">FAQ</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Content goes here...</p>
                </div>
            </div>
        </section>
    </section>
</main>
