<header id="main-section-header" ng-controller="GamesCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <nav class="navbar" role="navigation">
                <button type="button" class="navbar-toggle" ng-click="toggleSidebar()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-text">Game: </p>
                <ul class="nav navbar-nav">
                    <li ng-attr-class="{{game_id == 1 && 'active'}}">
                        <a href="/dice">Dice</a>
                    </li>
                    <li ng-attr-class="{{game_id == 2 && 'active'}}">
                        <a href="/edendice">Edendice</a>
                    </li>
                    <li ng-attr-class="{{game_id == 3 && 'active'}}">
                        <a href="/lottery">Lottery</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2" id="{{label(currency)}}-game-balances" ng-repeat="currency in CurrenciesSvc.currencies">
            <div class="game-balances">
                <span class="label bankroll {{label(currency)}}">Bankroll</span>
                <span class="value">{{currency.balance | balance}}</span>
            </div>
            <div class="game-balances">
                <span class="label profit {{label(currency)}}">Profit</span>
                <span class="value">{{currency.profit | balance}}</span>
            </div>
        </div>
    </div>
</header>
