<div class="row" ng-controller="GameAccountsCtrl">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
            <select selectpicker class="selectpicker" ng-options="account.id as label(account) for account in AccountsSvc.accounts" ng-model="$parent.data.account">
                <option value="">&mdash; Select a currency &mdash;</option>
            </select>
            <p class="help-block error" ng-if="errors.account">{{errors.account}}</p>
        </div>
    </div>
</div>
