<div class="row" id="how-to-play-game">
    <div class="col-xs-12">
        <h4>
            <a fancybox ng-model="game_instructions" href="">How to play this game?</a>
        </h4>
    </div>
</div>
