<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play" ng-if="AuthSvc.isLoggedIn">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">My Account</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div role="tabpanel" id="my-account-settings">
                        <ng-include src="'tpl/account.html'"></ng-include>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <div ng-repeat="account in AccountsSvc.accounts">
                                    <h3>Invest {{account.currency_name}}</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Your balance is <strong style="color:#36E470;">{{account.balance | balance}}</strong></p>
                                            <form ng-if="account.balance > 0" ng-submit="invest(account.id)">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-9 col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" ng-model="data.invest" placeholder="0.00000000" />
                                                            <p class="help-block error" ng-if="errors.invest">{{errors.invest}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3">
                                                        <div class="form-group">
                                                            <div>
                                                                <button type="submit" class="btn btn-default">Invest</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Your investment is <strong style="color:#36E470;">{{account.investment | balance}}</strong></p>
                                            <form ng-if="account.investment > 0" ng-submit="divest(account.id)">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-9 col-md-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" ng-model="data.divest" placeholder="0.00000000" />
                                                            <p class="help-block">Note: You will be charged a commission of {{data.divestCommission}}%.</p>
                                                            <p class="help-block error" ng-if="errors.divest">{{errors.divest}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3">
                                                        <div class="form-group">
                                                            <div>
                                                                <button type="submit" class="btn btn-default">Divest</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-include src="'tpl/overlay.html'" ng-if="!AuthSvc.isLoggedIn"></ng-include>
    </section>
</main>
