<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">Leaderboard</h1>
                </div>
            </div>
            <div class="row leaderboard">
                <div class="col-xs-12 col-md-6" ng-repeat="currency in data">
                    <h2>{{currency.currency}}</h2>
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#{{currency.currency|lowercase}}-day" show-tab="" aria-controls="{{currency.currency|lowercase}}-day" role="tab" data-toggle="tab">Daily</a></li>
                            <li role="presentation"><a href="#{{currency.currency|lowercase}}-month" show-tab="" aria-controls="{{currency.currency|lowercase}}-month" role="tab" data-toggle="tab">Monthly</a></li>
                            <li role="presentation"><a href="#{{currency.currency|lowercase}}-total" show-tab=""  aria-controls="{{currency.currency|lowercase}}-total" role="tab" data-toggle="tab">All time</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="{{currency.currency|lowercase}}-day">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h3>Most bets</h3>
                                        <ol>
                                            <li ng-repeat="d in currency.day.count">{{d[0]}} <span class="value">{{d[1]}}</span></li>
                                        </ol>
                                        <p class="no-data" ng-show="currency.day.count.length == 0">No data</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <h3>Biggest bet</h3>
                                        <ol>
                                            <li ng-repeat="d in currency.day.max">{{d[0]}} <span class="value">{{d[1] | balance}}</span></li>
                                        </ol>
                                        <p class="no-data" ng-show="currency.day.max.length == 0">No data</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="{{currency.currency|lowercase}}-month">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h3>Most bets</h3>
                                        <ol>
                                            <li ng-repeat="d in currency.month.count">{{d[0]}} <span class="value">{{d[1]}}</span></li>
                                        </ol>
                                        <p class="no-data" ng-show="currency.month.count.length == 0">No data</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <h3>Biggest bet</h3>
                                        <ol>
                                            <li ng-repeat="d in currency.month.max">{{d[0]}} <span class="value">{{d[1] | balance}}</span></li>
                                        </ol>
                                        <p class="no-data" ng-show="currency.month.max.length == 0">No data</p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="{{currency.currency|lowercase}}-total">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h3>Most bets</h3>
                                        <ol>
                                            <li ng-repeat="d in currency.total.count">{{d[0]}} <span class="value">{{d[1]}}</span></li>
                                        </ol>
                                        <p class="no-data" ng-show="currency.total.count.length == 0">No data</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <h3>Biggest bet</h3>
                                        <ol>
                                            <li ng-repeat="d in currency.total.max">{{d[0]}} <span class="value">{{d[1] | balance}}</span></li>
                                        </ol>
                                        <p class="no-data" ng-show="currency.total.max.length == 0">No data</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
