<main id="main-section">
    <section id="login">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1>Login</h1>
            <form name="login-form" id="login-form" data-validate="true">
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username" ng-model="data.username" />
                    <p class="help-block error" ng-if="errors.username">{{errors.username}}</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="data.password" />
                    <p class="help-block error" ng-if="errors.password">{{errors.password}}</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="mfa">MFA Token</label>
                    <input type="password" class="form-control" id="mfa" ng-model="data.mfa" placeholder="XXXXXX" />
                    <p class="help-block">Leave blank if MFA authentication is not configured on your account.</p>
                    <p class="help-block error" ng-if="errors.mfa">{{errors.mfa}}</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="submit()">Login</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </section>
</main>
