<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play" ng-if="AuthSvc.isLoggedIn">
            <div class="row">
                <div class="col-sm-5">
                    <form>
                        <ng-include src="'tpl/instructions.html'"></ng-include>
                        <ng-include src="'tpl/game-accounts.html'"></ng-include>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="bet-amount">Bet Amount</label>
                                    <input type="text" class="form-control" id="bet-amount" ng-model="data.bet" placeholder="0.00000000">
                                    <p class="help-block error" ng-if="errors.bet">{{errors.bet}}</p>
                                </div>
                            </div>
                        </div>
                        <div id="lottery-numbers">
                            <div class="row input-number-blocks">
                                <div ng-attr-class="{{tooMany() && 'too-many' || ''}}">
                                    <div class="col-xs-2" ng-repeat="number in available">
                                        <div class="checkbox">
                                            <input icheck type="checkbox" value="{{number}}" name="input-number-{{number}}" id="input-number-{{number}}" ng-model="numbers[number]" />
                                            <label for="input-number-{{number}}" class="control-label">{{number}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <a href="#" id="random-numbers" class="control-link" ng-click="random()">Random Numbers</a>
                                    <a href="#" id="clear-numbers" class="control-link" ng-click="clear()">Clear</a>
                                </div>
                            </div>
                            <p class="help-block error" ng-if="errors.numbers">{{errors.numbers}}</p>
                        </div>
                        <ng-include src="'tpl/play.html'"></ng-include>
                    </form>
                </div>
                <div class="col-sm-7">
                    <!--<div class="notice success flash">Congratulations. You've won 0.008976555788 Bitcoins. You're rich!</div>-->
                    <!--<div class="notice error warning flash">Uhhh Ohhh. Looks like you've lost. Play again.</div>-->
                    <ng-include src="'tpl/plays.html'"></ng-include>
                </div>
            </div>
        </section>
        <ng-include src="'tpl/overlay.html'" ng-if="!AuthSvc.isLoggedIn"></ng-include>
    </section>
</main>
