<nav class="navbar" role="navigation" id="main-navigation" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" id="eden-dice">
                <img alt="Brand" src="assets/images/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navigation-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" id="btc-talk">BTC TALK</a></li>
                <li><a href="https://www.facebook.com/" target="_blank" id="facebook">Facebook</a></li>
                <li><a href="https://www.twitter.com/" target="_blank" id="twitter">Twitter</a></li>
                <li ng-if="AuthSvc.isLoggedIn"><a href="/dice">Play</a></li>
                <li ng-if="AuthSvc.isLoggedIn"><a href="/leaderboard">Leaderboard</a></li>
                <li ng-if="AuthSvc.isLoggedIn"><a href="/provably-fair">Provably Fair</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact</a></li>
                <li ng-if="AuthSvc.isLoggedIn"><a href="/transactions">My Account</a></li>
                <li ng-if="AuthSvc.isLoggedIn"><a href="" ng-click="logout()">Logout</a></li>
                <li ng-if="!AuthSvc.isLoggedIn"><a href="/login">Login</a></li>
                <li ng-if="!AuthSvc.isLoggedIn"><a href="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
