<div id="overlay">
    <div align="center" class="notice error warning">You need to <a href="/login" style="color:#900; font-weight:bold;">login</a> or <a href="/register" style="color:#900; font-weight:bold;">create an account</a> in order to access <strong>Eden Dice</strong>.</div>
</div>
