<div ng-controller="PlayCtrl">
    <hr />
    <div class="row" id="autoplay-options">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="checkbox checkbox-alt">
                <input type="checkbox" icheck id="autoplay" ng-model="data.autoplay">
                <label for="autoplay" class="control-label">Autoplay Options</label>
            </div>
        </div>
    </div>
    <div id="autoplay-options-block" class="hidden">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="number-of-autobets">Number of Autobets</label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <input class="form-control" id="number-of-autobets" placeholder="0" ng-model="data.count" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="stop-at-min">Stop at minimum</label>
                    <input type="text" class="form-control" id="stop-at-min" placeholder="0.00000000" ng-model="data.stopMin" />
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="stop-at-max">Stop at maximum</label>
                    <input type="text" class="form-control" id="stop-at-max" placeholder="0.00000000" ng-model="data.stopMax" />
                </div>
            </div>
        </div>
        <div class="row" id="win-lose-actions">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="btn-group bootstrap-select">
                        <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="On Win" aria-expanded="false">
                            <span class="filter-option pull-left">On Win</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu open">
                            <div class="dropdown-menu pad inner selectpicker" role="menu">
                                <div class="radio first">
                                    <input type="radio" icheck id="do-not-adjust-bet" name="win-action" ng-model="data.winAction" value="no-action" />
                                    <label for="do-not-adjust-bet" class="control-label">Do Not Adjust Bet</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" icheck id="increase-bet-by" name="win-action" ng-model="data.winAction" value="increase-bet" />
                                    <label for="increase-bet-by" class="control-label">Increase Bet By</label>
                                </div>
                                <div class="increase-percentage">
                                    <input class="form-control" id="increase-percentage" ng-model="data.increaseBetPercentage" placeholder="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="btn-group bootstrap-select">
                        <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="On Lose" aria-expanded="false">
                            <span class="filter-option pull-left">On Lose</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu open">
                            <div class="dropdown-menu inner pad selectpicker" role="menu">
                                <div class="radio first">
                                    <input type="radio" icheck id="go-to-starting-bet" name="lose-action" ng-model="data.loseAction" value="starting-bet" />
                                    <label for="go-to-starting-bet" class="control-label">Go To Starting Bet</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" icheck id="decrease-bet-by" name="lose-action" ng-model="data.loseAction" value="decrease-bet"  />
                                    <label for="decrease-bet-by" class="control-label">Decrease Bet By</label>
                                </div>
                                <div class="decrease-percentage">
                                    <input class="form-control" id="decrease-percentage" ng-model="data.decreaseBetPercentage" placeholder="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row {{ data.playCls }}" id="key-betting-instructions">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <button type="submit" class="play" ng-click="play()">{{ data.playLabel }}</button>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-xs-12 text-right keyboard-betting">
            <div class="checkbox">
                <input type="checkbox" icheck value="" id="keyboard-betting">
                <label for="keyboard-betting" class="control-label">
                    <a class="fancybox" data-fancybox-type="iframe" href="help/keyboard-betting.html">Keyboard Betting</a>
                </label>
            </div>
        </div>
    </div>
    -->
</div>