<div role="tabpanel" id="bets-tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#all-bets" show-tab="" aria-controls="all-bets" role="tab" data-toggle="tab">All Bets</a>
        </li>
        <li role="presentation"><a href="#top-bets" show-tab="" aria-controls="top-bets" role="tab" data-toggle="tab">Top Bets</a>
        </li>
        <li role="presentation"><a href="#my-bets" show-tab=""  aria-controls="my-bets" role="tab" data-toggle="tab">My Bets</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="all-bets">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-left">User</th>
                    <th>Currency</th>
                    <th>Bet</th>
                    <th>User play</th>
                    <th>Server play</th>
                    <th>Payout</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="play in PlaysSvc.allPlays">
                    <td class="text-left"><span class="label">User</span>{{play.username}}</td>
                    <td><span class="label">Currency</span>{{play.currency}}</td>
                    <td><span class="label">Bet</span>{{play.bet}}</td>
                    <td><span class="label">Roll</span>{{play.user_play}}</td>
                    <td><span class="label">Roll</span>{{play.server_play}}</td>
                    <td ng-attr-class="{{play.payout > 0 ? 'win' : 'lose'}}"><span class="label">Payout</span><span class="win-value-text">{{play.payout}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="top-bets">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-left">User</th>
                    <th>Currency</th>
                    <th>Bet</th>
                    <th>User play</th>
                    <th>Server play</th>
                    <th>Payout</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="play in PlaysSvc.topPlays">
                    <td class="text-left"><span class="label">User</span>{{play.username}}</td>
                    <td><span class="label">Currency</span>{{play.currency}}</td>
                    <td><span class="label">Bet</span>{{play.bet}}</td>
                    <td><span class="label">Roll</span>{{play.user_play}}</td>
                    <td><span class="label">Roll</span>{{play.server_play}}</td>
                    <td ng-attr-class="{{play.payout > 0 ? 'win' : 'lose'}}"><span class="label">Payout</span><span class="win-value-text">{{play.payout}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="my-bets">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-left">User</th>
                    <th>Currency</th>
                    <th>Bet</th>
                    <th>User play</th>
                    <th>Server play</th>
                    <th>Payout</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="play in PlaysSvc.myPlays">
                    <td class="text-left"><span class="label">User</span>{{play.username}}</td>
                    <td><span class="label">Currency</span>{{play.currency}}</td>
                    <td><span class="label">Bet</span>{{play.bet}}</td>
                    <td><span class="label">Roll</span>{{play.user_play}}</td>
                    <td><span class="label">Roll</span>{{play.server_play}}</td>
                    <td ng-attr-class="{{play.payout > 0 ? 'win' : 'lose'}}"><span class="label">Payout</span><span class="win-value-text">{{play.payout}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
