<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">Provably Fair</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>EdenDice prides itself on providing all players with a fair gaming experience. By following this philosophy all bets placed on EdenDice are “provably fair” and can be verified after each bet has been played.</p>
                    <p>For more information, please visit <a href="http://provablyfair.org/">http://provablyfair.org/</a>.</p>
                </div>
            </div>
        </section>
    </section>
</main>
