<main id="main-section">
    <section id="login">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1>Register</h1>
            <form name="login-form" id="login-form" data-validate="true">
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control" id="username" value="" data-nonempty="true" data-nonempty-message="Please enter a username" ng-model="data.username" />
                    <p class="help-block error" ng-if="errors.username">{{errors.username}}</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" value="" data-nonempty="true" data-nonempty-message="Please enter a password" ng-model="data.password" />
                    <p class="help-block error" ng-if="errors.password">{{errors.password}}</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password_confirm">Retype password</label>
                    <input type="password" class="form-control" id="password_confirm" value="" data-nonempty="true" data-nonempty-message="Please retype your password" ng-model="data.password_confirm" />
                    <p class="help-block error" ng-if="errors.password_confirm">{{errors.password_confirm}}</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="submit()">Register</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </section>
</main>
