<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play" ng-if="AuthSvc.isLoggedIn">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">My Account</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div role="tabpanel" id="my-account-settings">
                        <ng-include src="'tpl/account.html'"></ng-include>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <h3>Change Your Random Seed</h3>
                                <p>You can change the seed which will be used when generating random numbers for your bets.</p>
                                <form method="post" name="change-random-seed" id="change-random-seed" ng-submit="changeSeed()">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-9 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label" for="random-seed">Random Seed</label>
                                                <input type="text" class="form-control" id="random-seed" ng-model="data.user_key" />
                                                <p class="help-block">Enter any value, or leave blank for a random new seed.<br />Current hash: {{data.user_key_hash}}</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">&nbsp;</label><br />
                                                <button type="submit" class="btn btn-default">Change</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <hr />
                                <h3>Change Your Password</h3>
                                <form ng-submit="changePassword()">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label" for="current-password">Current Password</label>
                                                <input type="password" class="form-control" id="current-password" ng-model="data.current_password" />
                                                <p class="help-block error" ng-show="errors.current_password">{{errors.current_password}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label" for="new-password">New Password</label>
                                                <input type="password" class="form-control" id="new-password" ng-model="data.new_password" />
                                                <p class="help-block error" ng-show="errors.new_password">{{errors.new_password}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label" for="confirm-password">Confirm Password</label>
                                                <input type="password" class="form-control" id="confirm-password" ng-model="data.new_password_confirm" />
                                                <p class="help-block error" ng-show="errors.new_password_confirm">{{errors.new_password_confirm}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label">&nbsp;</label><br />
                                                <button type="submit" class="btn btn-default">Change Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <hr />
                                <h3>Multi-Factor Authentication</h3>
                                <div class="row" ng-controller="MfaCtrl">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div>
                                            <input type="radio" id="mfa-disabled" value="0" icheck ng-model="data.enabled" />
                                            <label for="mfa-disabled" class="control-label radio-label">Disabled</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="mfa-enabled" value="1" icheck ng-model="data.enabled" />
                                            <label for="mfa-enabled" class="control-label radio-label">Enabled</label>
                                        </div>
                                    </div>
                                    <div ng-show="data.enabled == '1'">
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <p>To use MFA, download the Google Authenticator app from your phone's app store and scan this QR code:</p>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <img src="{{ data.img }}" />
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <h3>Emergency withdrawals</h3>
                                <p>Enter an address which we can send funds to if necessary and we can't get in touch with you:</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6" ng-repeat="account in AccountsSvc.accounts">
                                        <h3>{{account.currency_name}}</h3>
                                        <form ng-submit="updateAddress(account.id)">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-9 col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Address</label>
                                                        <input type="text" class="form-control" ng-model="data.addresses[account.id]" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <div class="form-group">
                                                        <label class="control-label">&nbsp;</label>
                                                        <div>
                                                            <button type="submit" class="btn btn-default">Update</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--
                                <h3>Close Your Account</h3>
                                <p>If you close your account, you will forfeit any Bitcoin or Litecoin balances.</p>
                                <p><button type="submit" class="btn btn-default">Close Account</button></p>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-include src="'tpl/overlay.html'" ng-if="!AuthSvc.isLoggedIn"></ng-include>
    </section>
</main>
