<aside id="sidebar" class="collapsed" ng-controller="SidebarCtrl">
    <nav id="sidebar-navigation">
        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active profile">
                    <a href="#profile" show-tab aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                </li>
                <li role="presentation" class="chats">
                    <a href="#chats" show-tab aria-controls="chats" role="tab" data-toggle="tab" ng-click="data.chatCount = 0">Chats</a>
                    <span class="chats-count" ng-show="data.chatCount > 0">{{data.chatCount}}</span>
                </li>
                <li role="presentation" class="stats">
                    <a href="#stats" show-tab aria-controls="stats" role="tab" data-toggle="tab">Stats</a>
                </li>
                <li role="presentation" class="close-panel">
                    <a href="#" show-tab aria-controls="close" role="tab" data-toggle="tab" ng-click="close()">Close</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="profile">
                    <header>
                        <div class="description">{{data.username}}</div>
                    </header>
                    <section class="bets">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-repeat="account in AccountsSvc.accounts">
                            <div class="currency">{{account.currency_name}}</div>
                            <div class="value">{{account.balance | balance}}</div>
                        </div>
                    </section>
                    <nav id="profile-nav">
                        <ul>
                            <li id="my-account">
                                <a href="/transactions">Transactions
                                    <span class="status"></span>
                                </a>
                            </li>
                            <li id="nav-deposit">
                                <a href="/deposits">Deposit
                                    <span class="status"></span>
                                </a>
                            </li>
                            <li id="nav-withdraw">
                                <a href="/withdrawals">Withdraw
                                    <span class="status"></span>
                                </a>
                            </li>
                            <li id="nav-settings">
                                <a href="/settings">Settings
                                    <span class="status"></span>
                                </a>
                            </li>
                            <li id="nav-affiliate">
                                <a href="/affiliate">Affiliate
                                    <span class="status"></span>
                                </a>
                            </li>
                            <li id="close">
                                <a href="#" ng-click="close()">Close
                                    <span class="status"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div role="tabpanel" class="tab-pane" id="chats">
                    <ng-include src="'tpl/chat.html'"></ng-include>
                </div>
                <div role="tabpanel" class="tab-pane" id="stats">
                    <ng-include src="'tpl/stats.html'"></ng-include>
                </div>
                <div role="tabpanel" class="tab-pane" id="stack">
                    Stack
                </div>
            </div>
        </div>
    </nav>
</aside>
