<div ng-controller="StatsCtrl">
    <section class="stats">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 first">
            <div class="section-label faded">Total Wins</div>
            <div class="value">{{data.total_wins}}</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 last">
            <div class="section-label faded">Total</div>
            <div class="value">{{data.total_plays}}</div>
        </div>
    </section>
    <section class="stats">
        <h4 class="section-header">Total Wagered</h4>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 first">
            <div class="section-label currency faded">Bitcoin</div>
            <div class="value">{{data.bitcoin_wagered | balance}}</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 last">
            <div class="section-label currency faded">Litecoin</div>
            <div class="value">{{data.litecoin_wagered | balance}}</div>
        </div>
    </section>
    <section class="stats">
        <h4 class="section-header">Total Profits</h4>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 first">
            <div class="section-label currency faded">Bitcoin</div>
            <div class="value">{{data.bitcoin_profit | balance}}</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 last">
            <div class="section-label currency faded">Litecoin</div>
            <div class="value">{{data.litecoin_profit | balance}}</div>
        </div>
    </section>
    <section class="stats">
        <h4 class="section-header">Total Bets</h4>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 first">
            <div class="section-label currency faded">Bitcoin</div>
            <div class="value">{{data.bitcoin_plays}}</div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 last">
            <div class="section-label currency faded">Litecoin</div>
            <div class="value">{{data.litecoin_plays}}</div>
        </div>
    </section>
    <section class="stats footer"></section>
</div>