<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play" ng-if="AuthSvc.isLoggedIn">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">My Account</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div role="tabpanel" id="my-account-settings">
                        <ng-include src="'tpl/account.html'"></ng-include>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <h2>My Transactions</h2>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <label for="transaction-type" class="control-label">Transaction Type</label>
                                    </div>
                                    <div class="form-group">
                                        <select class="selectpicker" selectpicker id="transaction-type" ng-model="data.type" ng-options="key as value for (key, value) in data.types">
                                            <option value="">Any</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-default">Search</button>
                                </form>
                                <hr />
                                <table class="table table-striped alt">
                                    <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Currency</th>
                                        <th>Description</th>
                                        <th>Amount</th>
                                        <th>Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="transaction in data.transactions">
                                        <td><span class="label">Type</span>{{transaction.type | enum}}</td>
                                        <td><span class="label">Currency</span>{{transaction.currency_name}}</td>
                                        <td><span class="label">Description</span>{{transaction.description}}</td>
                                        <td class="{{transaction.amount < 0 ? 'lose' : 'win'}}"><span class="label">Amount</span>{{transaction.amount | balance}}</td>
                                        <td><span class="label">When</span>{{transaction.created | timestamp}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-include src="'tpl/overlay.html'" ng-if="!AuthSvc.isLoggedIn"></ng-include>
    </section>
</main>
