<main id="main-section">
    <section id="game-play-section">
        <ng-include src="'tpl/games.html'" ng-if="AuthSvc.isLoggedIn"></ng-include>
        <section id="game-play" ng-if="AuthSvc.isLoggedIn">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">My Account</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div role="tabpanel" id="my-account-settings">
                        <ng-include src="'tpl/account.html'"></ng-include>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active">
                                <div ng-repeat="account in AccountsSvc.accounts" ng-controller="WithdrawCtrl">
                                    <h3>Withdraw {{account.currency_name}}</h3>
                                    <p>Your balance is <strong style="color:#36E470;">{{account.balance | balance}}</strong></p>
                                    <form ng-if="account.balance > 0" ng-submit="submit(account.id)">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Withdraw</label>
                                                    <input type="text" class="form-control" ng-model="data.amount" placeholder="0.00000000" />
                                                    <p class="help-block error" ng-if="errors.amount">{{errors.amount}}</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">To address</label>
                                                    <input type="text" class="form-control" ng-model="data.address" />
                                                    <p class="help-block error" ng-if="errors.address">{{errors.address}}</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">&nbsp;</label>
                                                    <div>
                                                        <button type="submit" class="btn btn-default">Withdraw</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <ng-include src="'tpl/overlay.html'" ng-if="!AuthSvc.isLoggedIn"></ng-include>
    </section>
</main>
