<!doctype html>
<html ng-app="app" ng-controller="PageCtrl">
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Eden Dice - {{PageSvc.title}}</title>
    <link rel="stylesheet" type="text/css" href="css/compiled.css" />
</head>
<body>
    <header id="header">
        <ng-include src="'tpl/nav.html'"></ng-include>
    </header>
    <div id="has-sidebar">
        <div ng-view></div>
    </div>
    <ng-include src="'tpl/sidebar.html'"></ng-include>
    <script type="text/javascript" src="/api/config.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/compiled.js"></script>
</body>
</html>
