/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox,
.iradio {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 20px;
    background: url("../images/icons/icheck.png") no-repeat;
    border: none;
    cursor: pointer;
}

.checkbox-alt .icheckbox,
.radio-alt .iradio {
	background-image: url("../images/icons/icheck-alt.png");
}

.icheckbox {
    background-position: 0 0;
}
.icheckbox.hover {
    background-position: -22px 0;
}
.icheckbox.checked {
    background-position: -44px 0;
}
.icheckbox.disabled {
    background-position: -66px 0;
    cursor: default;
}
.icheckbox.checked.disabled {
    background-position: -88px 0;
}

.iradio {
    background-position: -110px 0;
}
.iradio.hover {
    background-position: -132px 0;
}
.iradio.checked {
    background-position: -154px 0;
}
.iradio.disabled {
    background-position: -176px 0;
    cursor: default;
}
.iradio.checked.disabled {
    background-position: -198px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox, .iradio,.checkbox-alt .icheckbox, .radio-alt .iradio {
        -webkit-background-size: 220px 20px;
        background-size: 220px 20px;
    }
    .icheckbox, .iradio {
        background-image: url("../images/icons/icheck@2x.png");
    }
    .checkbox-alt .icheckbox, .radio-alt .iradio {
		background-image: url("../images/icons/icheck-alt@2x.png");
	}
}