/*!
* Slider for Bootstrap
*
* Copyright 2012 Stefan Petre
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
*/
.slider-vertical {
  margin: 10px;
}
.slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
}
.slider.slider-horizontal {
  height: 30px;
}
.slider.slider-horizontal .slider-track {
  width: 100%;
  margin-top: -3px;
  top: 50%;
  left: 0;
}
.slider.slider-horizontal .slider-selection {
  height: 100%;
  top: 0;
  bottom: 0;
}
.slider.slider-horizontal .slider-handle {
  margin-left: -8px;
  margin-top: -5px;
}
.slider.slider-horizontal .slider-handle.triangle {
  border-width: 0 10px 10px 10px;
  width: 0;
  height: 0;
  border-bottom-color: #0480be;
  margin-top: 0;
}
.slider.slider-vertical {
  height: 220px;
  width: 30px;
}
.slider.slider-vertical .slider-track {
  height: 100%;
  margin-left: -3px;
  left: 50%;
  top: 0;
}
.slider.slider-vertical .slider-selection {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}
.slider.slider-vertical .slider-handle {
  margin-left: -9px;
  margin-top: -12px;
}
.slider.slider-vertical .slider-handle.triangle {
  border-width: 10px 0 10px 10px;
  width: 1px;
  height: 1px;
  border-left-color: #0480be;
  margin-left: 0;
}
.slider input {
  display: none;
}
.slider .tooltip-inner {
  white-space: nowrap;
}
.slider-track {
  background-color: #000;
  border-radius: 15px;
  border: 5px solid #303633;
  display: block;
  height: 17px;
  position: relative;
  width: 100%;
}
.slider-selection {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.slider-handle {
  background-color: #36e470;
  border-radius: 100%;
  cursor: move;
  height: 17px;
  left: 0;
  top: 0;
  margin-left: 10px;
  position: absolute;
  width: 17px;
  border: 3px solid #1a853d;
}
.slider-handle.round {
  border-radius: 100%;
}
.slider-handle.triangle {
  background: transparent none;
}
