/* Everything */
* {
	outline: none !important;
}

/* Main Body */
body {
	background-color: #000;
	font-family: Lato, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
}

h4, h5 {
	font-size: 15px;
}

h5 {
	margin-bottom: 0;
	color: #36e470;
}

a {
	text-decoration: underline;
}

nav a, .nav a {
	text-decoration: none;
}

/* Tables */
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border: none !important;
	padding: 15px;
	text-align: center;
}

.table > thead > tr > th.text-left, .table > tbody > tr > th.text-left, .table > tfoot > tr > th.text-left, .table > thead > tr > td.text-left, .table > tbody > tr > td.text-left, .table > tfoot > tr > td.text-left {
	text-align: left;
}

.table-striped > thead > tr > th {
	background-color: #1a1c1b;
}

.table-striped > tbody > tr:nth-child(odd) {
	background-color: #2a2e2c;
}

.table-striped > tbody > tr:nth-child(even) {
	background-color: #303432;
}

.table.alt > thead > tr > th, .table.alt.alt.alt.alt.alt > tbody > tr > th, .table.alt.alt.alt.alt > tfoot > tr > th, .table.alt.alt.alt > thead > tr > td, .table.alt.alt > tbody > tr > td, .table.alt > tfoot > tr > td {
	padding: 10px;
}

.table-striped.alt > thead > tr > th {
	background-color: #000;
	text-transform: uppercase;
}

.table.alt > thead > tr > th, .table.alt.alt.alt.alt.alt > tbody > tr > th, .table.alt.alt.alt.alt > tfoot > tr > th, .table.alt.alt.alt > thead > tr > td, .table.alt.alt > tbody > tr > td, .table.alt > tfoot > tr > td {
	padding: 10px 20px;
}

.table-striped.alt > thead > tr > th.empty {
	width: 35%;
}

.table-striped.alt > tbody > tr > td {
	border-bottom: 1px solid #1a1c1b !important;
}

.table-striped.alt > tbody > tr:nth-child(odd) {
	background-color: #242725;
}

.table-striped.alt > tbody > tr:nth-child(even) {
	background-color: #363737;
}

th.text-center {
	text-align: center;
}

table td .label {
	display: none;
}

.notice {
	background-color: #ffc;
	border: 2px solid #fd0;
	margin-bottom: 20px;
	padding: 10px;
}

.warning,
.success {
	background-repeat: no-repeat !important;
	background-position: 10px 10px !important;
	padding-left: 40px !important;
	min-height: 20px !important;
	line-height: 20px !important;
}

.warning {
	background-image: url('../images/icons/warning.png') !important;
}

.success {
	background-image: url('../images/icons/success.png') !important;
	background-color: #aff6c6;
	border-color: #36e470;
	color: #353535;
}

.error {
	background-image: url('../images/icons/error.png') !important;
	background-color: #f78a8a;
	border-color: #f00;
	color: #000;
}

.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

#captcha-code {
	position: absolute;
	top: 1px;
	right: 1px;
}

/* Form validations */
[data-nonempty="true"].invalid {
	border-color: #f00;
	color: #f00;
}

i {
	display: block;
	margin-top: 3px;
	color: #f00;
	font-size: 12px;
}

/* Headings */
.page-title {
	color: #808080;
}

#main-navigation, #main-section-header > .row, #game-play {
	max-width: 1280px;
}

/* Header */
#header {
	background-color: #fff;
	padding: 30px;
	z-index: 20;
	position: relative;
	overflow-x: hidden;
}

/* Main Navigation */
#main-navigation {
	margin-bottom: 0;
	min-height: 0;
}

#eden-dice {
	height: 35px;
	line-height: 1;
	padding: 0;
}

#main-navigation .nav a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 35px;
	text-transform: uppercase;
	color: #000;
}

#main-navigation .nav a:hover {
	color: #36e470;
}

#main-navigation .nav a#btc-talk {
	font-weight: bold;
}

#main-navigation .nav a#facebook, #main-navigation .nav a#twitter {
	text-indent: -99999px;
	background: center center no-repeat;
}

#main-navigation .nav a#facebook {
	background-image: url("../images/icons/facebook.png");
}

#main-navigation .nav a#twitter {
	background-image: url("../images/icons/twitter.png");
	margin: 0 60px 0 2px;
}

#main-navigation .navbar-toggle {
	margin: 0;
}

#main-navigation .icon-bar {
	background-color: #555;
}

/* Main Section */
#main-section {
	color: #fff;
	position: relative;
	overflow-x: hidden;
}

#main-section-header {
	border-bottom: 1px solid #303030;
	padding: 10px 22px;
	text-transform: uppercase;
}

#main-section-header .navbar {
	margin-bottom: 0;
}

 #main-section-header .navbar .navbar-text, #main-section-header .navbar a {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 45px;
}

#main-section-header .navbar {
	font-size: 15px;
	font-weight: 900;
	padding-left: 5px;
}

#main-section-header .navbar .navbar-text, #main-section-header .navbar ul, #main-section-header .navbar li {
	float: left !important;
}

#main-section-header .navbar ul {
	margin: 0 !important;
}

#main-section-header .navbar .navbar-text {
	color: #808080;
	margin-left: 0;
	margin-right: 15px;
}

#main-section-header .navbar .navbar-toggle  {
	display: block;
	float: left;
	margin: 13px 20px 0 -8px;
	padding: 2px;
}

#main-section-header .navbar .navbar-toggle .icon-bar {
	background-color: #eee;
}

#main-section-header .navbar a {
	color: #fff;
}

#main-section-header .navbar a:hover, #main-section-header .navbar .active a {
	background: none !important;
	color: #36e470;
}

#main-section-header #bitcoin-game-balances, #main-section-header #edendice-game-balances {
	margin-top: 8px;
	padding-left: 0;
}

#main-section-header #bitcoin-game-balances {
	padding-right: 30px;
}

#main-section-header #bitcoin-game-balances {
	border-right: 1px solid #2a2e2c;
}

#main-section-header .game-balances {
	line-height: 1.55;
	text-align: right;
}

#main-section-header .game-balances .bankroll, #main-section-header .game-balances .profit {
	padding-left: 10px;
	background: 0 center no-repeat;
}

#main-section-header .game-balances .bankroll {
	color: #8e908f;

}

#main-section-header .game-balances .bankroll.bitcoin {
	background-image: url("../images/icons/bitcoin.png");
}

#main-section-header .game-balances .profit.bitcoin {
	background-image: url("../images/icons/bitcoin-white.png");
}

#main-section-header .game-balances .bankroll.litecoin {
	background-image: url("../images/icons/litecoin.png");
}

#main-section-header .game-balances .profit.litecoin {
	background-image: url("../images/icons/litecoin-white.png");
}

#main-section-header .game-balances .profit {
}

#main-section-header .game-balances .value {
	color: #36e470;
}

#sidebar {
	background: url("../images/menu-bg.png");
	position: fixed;
	top: 0;
	left: 0;
	width: 260px;
	height: 100%;
	z-index: 0;
	overflow: hidden;
}

#sidebar-navigation {
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	height: 100%;
	padding-right: 30px;
	width: 290px;
}

#sidebar-navigation .nav-tabs a {
	text-indent: -9999px;
}

#game-play-section {
	position: relative;
	background-color: #000;
	z-index: 10;
}

#game-play {
	padding: 30px 20px;
}

#game-play .nav-tabs a, #sidebar-navigation .nav-tabs a {
	border-radius: 0;
	border: none;
	background-color: #424644;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
}

#game-play .nav-tabs a {
	padding: 15px 0;
}

#game-play .nav-tabs .active a {
	background-color: #2a2e2c;
}

#sidebar.collapsed {
	display: none;
}

#sidebar-navigation .nav-tabs li {
	border-bottom: 1px solid #131313;
	width: 25%;
}

#sidebar-navigation .nav-tabs {
	border-bottom: 1px solid #303030;
}

#sidebar-navigation .nav-tabs a {
	background-color: transparent;
	border-right: 1px solid #131313;
	height: 45px;
	margin: 0;
}

#sidebar-navigation .nav-tabs .active {
	background-color: #000;
}

#sidebar-navigation .nav-tabs .profile a {
	background: url("../images/icons/user.png") center center no-repeat;
}

#sidebar-navigation .nav-tabs .chats a {
	background: url("../images/icons/chat.png") center center no-repeat;
}

#sidebar-navigation .nav-tabs .stats a {
	background: url("../images/icons/pie.png") center center no-repeat;
}

#sidebar-navigation .nav-tabs .stack a {
	background: url("../images/icons/stack.png") center center no-repeat;
}

#sidebar-navigation .nav-tabs .close-panel a {
	background: url("../images/icons/cross.png") center center no-repeat;
}

#sidebar-navigation #profile header {
	padding: 35px 20px 30px;
	text-align: center;
	border-bottom: 1px solid #131313;
}

#sidebar-navigation #profile #points {
	width: 55px;
	height: 55px;
	border-radius: 55px;
	background-color: #fff;
	border: 2px solid #34d76b;
	margin: 0 auto;
	line-height: 55px;
	color: #000;
	font-size: 30px;
	margin-bottom: 10px;
}

#sidebar-navigation #profile .description {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}

#sidebar-navigation #profile .bets, #sidebar-navigation #stats .stats {
	font-size: 13px;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #131313;
	padding: 20px 30px;
	overflow: hidden;
}

#sidebar-navigation #profile .bets .first, #sidebar-navigation #stats .stats .first {
	border-right: 1px solid #303030;
	padding-left: 0;
}

#sidebar-navigation #profile .bets .last, #sidebar-navigation #stats .stats .last {
	border-left: 1px solid #131313;
	padding-right: 0;
}

#sidebar-navigation #profile .bets .currency, #sidebar-navigation #stats .stats .section-label {
	font-weight: 700;
}

#sidebar-navigation #profile .bets .value, #sidebar-navigation #stats .stats .value {
	color: #36e470;
}

#sidebar-navigation #stats .stats .value {
	font-weight: bold;
}

#sidebar-navigation #stats .stats .section-label.faded {
	color: #9c9c9c;
}

#sidebar-navigation #chats {
	position: relative;
	padding: 10px;
}

#sidebar-navigation #chats-container {
	position: absolute;
	height: 100%;
	width: 240px;
}

#sidebar-navigation #chats-container #chat-spacer {
	height: 120px;
}

#sidebar-navigation #chats-container footer {
	background: url("../images/menu-bg.png");
	position: fixed;
	width: 240px;
	bottom: 0;
	padding: 10px 0;
}

#sidebar-navigation #stats .stats {
	padding: 30px;
}

#sidebar-navigation #stats .stats.footer {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: none;
}

#sidebar-navigation #stats .stats .messages {
	display: inline-block;
	margin-right: 25px;
}

#sidebar-navigation #stats .stats .section-header {
	text-transform: none;
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 20px;
}

#sidebar-navigation #chats-container footer .form-group {
	margin-bottom: 10px;
}

#sidebar-navigation #chats-container footer .form-group textarea {
	height: 50px;
}

#sidebar-navigation #chats-container footer .btn {
	width: 100%;
}

#sidebar-navigation .chatbox {
	background-color: #4a524e;
	border: 5px solid #5b6560;
	padding: 15px;
	margin-bottom: 5px;
	font-size: 11px;
}

#sidebar-navigation .chatbox p {
	margin-bottom: 5px;
}

#sidebar-navigation .chatbox .username {
	margin-right: 5px;
}

#sidebar-navigation .chatbox.admin {
	background-color: #36e470;
	border-color: #5fff94;
	color: #071d0e;
}

#sidebar-navigation .chatbox .emoji-circle {
	display: inline-block;
	width: 11px;
	height: 11px;
	border: 1px solid #2b312e;
	border-radius: 100%;
	background-color: #fff;
	position: relative;
	top: 2px;
}

#sidebar-navigation .chatbox .emoji-circle.blue {
	background-color: #2296da;
}

#sidebar-navigation .chatbox .emoji-circle.dark-blue {
	background-color: #2c3086;
}

#sidebar-navigation .chatbox .emoji-circle.orange {
	background-color: #f86f35;
}

#sidebar-navigation .chatbox .emoji-circle.pink {
	background-color: #f34c98;
}

#sidebar-navigation .chatbox .emoji-circle.red {
	background-color: #e61329;
}

#sidebar-navigation .chatbox .emoji-circle.light-purple {
	background-color: #b48abb;
}

#sidebar-navigation .chatbox .emoji-circle.purple {
	background-color: #5e308c;
}

#sidebar-navigation .chatbox .emoji-circle.dark-green {
	background-color: #007942;
}

#sidebar-navigation .chatbox .emoji-circle.yellow {
	background-color: #fff04b;
}

#sidebar-navigation .chatbox .emoji-circle.gold {
	background-color: #d09901;
}

#profile-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#profile-nav a {
	display: block;
	padding: 20px 60px;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #131313;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
}

#profile-nav a:hover {
	background-color: #292929;
	background-color: rgba(255,255,255,0.03) !important;
	color: #fff;
}

#profile-nav .sub-nav {
	background: url("../images/menu-bg.png");
}

#profile-nav .sub-nav a {
	padding-left: 85px;
	font-size: 12px;
	font-weight: 300;
}

#profile-nav a {
	background-position:  20px 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

#profile-nav #nav-invest a, #profile-nav #nav-deposit a {
	color: #36e470;
}

#profile-nav #nav-deposit a {
	background-color: #31bc60;
	color: #212523;
}

#profile-nav #nav-deposit a span {
	background-image: url("../images/icons/nav-hover.png");
}

#profile-nav #nav-deposit a:hover {
	background-color: #fff !important;
}

#profile-nav #nav-deposit a:hover span {
	background-image: url("../images/icons/nav-unselected.png");
}

#profile-nav #nav-my-account a, #profile-nav #nav-settings a {
	background-image: url("../images/icons/nav-features.png");
}

#profile-nav #nav-affiliate a {
	background-image: url("../images/icons/nav-mail.png");
}

#profile-nav #nav-close a {
	background-image: url("../images/icons/nav-close.png");
}

#profile-nav .sub-nav a {
	background-image: url("../images/icons/nav-submenu.png") !important;
	background-position:  60px center !important;
	background-repeat: no-repeat !important;
	background-size: 10px 10px !important;
}

#profile-nav a {
	position: relative;
}

#profile-nav a span {
	position: absolute;
	top: 0;
	right: 20px;
	width: 20px;
	height: 100%;
	background-image: url("../images/icons/nav-unselected.png");
	background-position:  0 center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

#profile-nav .selected > a span {
	background-image: url("../images/icons/nav-selected.png");
}

#profile-nav a:hover span {
	background-image: url("../images/icons/nav-hover.png");
}

#profile-nav .sub-nav a span {
	background-size: 12px 12px;
	right: 16px;
}

#login {
	padding-top: 120px;
}

#game-play .win {
	color: #36e470;
}

#game-play .lose {
	color: #f75454;
}

#game-play .blink.won td {
	background-color: #2fa74d;
}

#game-play .blink.lost td {
	background-color: #b83c3a;
}

#game-play .win .win-value, #game-play .lose .loss-value {
	color: #fff;
	display: block;
	padding: 2px;
	text-align: center;;
}

#game-play .win .win-value {
	background-color: #2980b9;
}

#game-play .lose .loss-value {
	background-color: #c0392b;
}

#max-profit {
	color: #303633;
	font-size: 13px;
	font-weight: 900;
	text-transform: uppercase;
}

hr {
	border-color: #303633;
}

#max-profit hr {
	margin: 22px 0 15px;
}

#autoplay-options .checkbox {
	margin-top: 0;
	margin-bottom: 20px;
}

#autoplay-options .control-label {
	color: #303633;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 0;
	text-transform: uppercase;
	top: 4px;
} 

#key-betting-instructions {
	padding: 10px 15px;
	margin-left: 0;
	margin-right: 8px;
	background-color: #36e470;
	color: #000;
}

#key-betting-instructions div {
	padding: 0;
}

#key-betting-instructions .bet-high, #key-betting-instructions .bet-low {
	display: block;
	line-height: 20px;
	height: 20px;
}

#key-betting-instructions .bet-high {
	background: url("../images/icons/high.png") 0 center no-repeat;
	padding-left: 25px;
}

#key-betting-instructions .play {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	padding: 0;
	background: none;
	border: none;
}

#key-betting-instructions .bet-low {
	background: url("../images/icons/low.png") right center no-repeat;
	padding-right: 25px;
}

/* Bets Tabs */
.nav-tabs a {
	margin: 0;
	text-align: center;
}

#bets-tabs .nav-tabs li {
	width: 33.33%;
}

.nav-tabs a {
	margin: 0 !important;
	text-align: center;
}

#my-account-settings .nav-tabs li {
	width: 14.2857143%;
}

#my-account-settings .nav-tabs li.active a {
	background-color: #191d1c;
}

#my-account-settings .tab-content {
	background-color: #1a1c1b;
	padding: 35px;
}

#my-account-settings #my-achievements .achievement-icon {
	position: relative;
	display: inline-block;
	margin: 15px 0;
}

#my-account-settings #my-achievements .achievement-icon .achievement-score {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 8px;
	border: 2px solid #000;
	background-color: #fff;
	color: #000;
	display: inline-block;
	border-radius: 100%;
	line-height: 0.75;
	font-size: 16px;
	font-weight: bold;
}

/* Forms */
.form-inline .form-group {
	margin-right: 10px;
}

.form-inline .form-group .control-label {
	margin-right: 5px;
}

.form-group {
	margin-bottom: 30px;
}

.control-label {
	text-transform: uppercase;
	color: #b4b4b4;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 15px;
	line-height: 20px;
	position: relative;
}

.checkbox .control-label, .radio .control-label {
	top: 2px;
	text-transform: none;
}

.form-control {
	padding: 12px;
	height: 38px;
	border-radius: 0;
	border: 2px solid transparent;
	background-color: #fff;
	box-shadow: none;
}

.form-control:focus {
	border-color: #36e470;
}

.input-number-blocks {
	padding-left: 20px;
	padding-right: 20px;
}

.ui-spinner {
	position: relative;
	display: block;
}

.ui-spinner .ui-spinner-button {
	position: absolute;
	right: 0;
	height: 50%;
	text-decoration: none;
	width: 40px;
	text-indent: -99999px;
}

input.spinner, input.percentage-spinner {
	background: #fff url("../images/dropdown-bg.png") right top repeat-y !important;
	padding-right: 40px;
	border: none !important;
}

.ui-spinner .ui-spinner-button.ui-spinner-up {
	background: url("../images/icons/caret-up.png") center center no-repeat;
	top: 0;
}

.ui-spinner .ui-spinner-button.ui-spinner-down {
	background: url("../images/icons/caret-down.png") center center no-repeat;
	top: 50%;
}

#lottery-numbers {
	margin-bottom: 30px;
}

.input-number-blocks [class^="col-"] {
	position: relative;
	padding: 5px;
}

.input-number-blocks .checkbox,
.input-number-blocks .radio {
	margin: 0;
}

.input-number-blocks .checkbox .icheckbox, .input-number-blocks .checkbox .control-label,
.input-number-blocks .radio .iradio, .input-number-blocks .radio .control-label {
	background-image: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 13px;
	font-weight: 900;
}

.input-number-blocks .checkbox .icheckbox,
.input-number-blocks .radio .iradio {
	background-color: #303633;
	position: absolute;
}

.input-number-blocks .checkbox .icheckbox.hover, .input-number-blocks .checkbox .icheckbox:hover,
.input-number-blocks .radio .iradio.hover, .input-number-blocks .radio .iradio:hover {
	background-color: #4a524e;
}

.input-number-blocks .checkbox .icheckbox.checked,
.input-number-blocks .radio .iradio.checked {
	background-color: #36e470;
}

.input-number-blocks .checkbox .control-label.active,
.input-number-blocks .radio .control-label.active {
	color: #000 !important;
}

.input-number-blocks .control-link {
	line-height: 40px;
	padding: 0 7px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	display: inline-block;
}

.control-label#edendice-bet-amount-range {
	margin-bottom: 12px;
}

.btn-default {
	padding: 9px 20px;
	font-size: 15px;
	font-weight: 900;
	text-transform: uppercase;
}

#choose-randon-number {
	padding: 10px 0;
	margin: 0;
	text-transform: none;
	font-weight: 900;
}

#edendice-bet-amount-field {
	padding-right: 15px;
}

#edendice-bet-amount-range-field {
	padding-left: 15px;
}

#edendice-bet-amount-range-values {
	padding-left: 0;
	padding-right: 12px;
}

#edendice-bet-amount-range-values.input-number-blocks [class^="col-"] {
	padding: 2px;
}

#edendice-bet-amount-range-values .control-label {
	font-size: 10px;
}

/* Dropdown Buttons */
.dropdown-toggle {
	background-color: #303633 !important;
	color: #fff !important;
	border: none !important;
	border-radius: 0;
	outline: none;
	padding: 12px 40px 12px 20px;
}

.dropdown-toggle, .dropdown-menu, .dropdown-toggle .text-muted, .dropdown-menu .text-muted {
	font-size: 13px;
	font-weight: 700;
}

.dropdown-toggle .text-muted, .dropdown-menu .text-muted {
	margin-left: 8px;
	padding-left: 0 !important;
	color: #36e470 !important;
}

.dropdown-toggle-alt .dropdown-toggle {
	background: #fff url("../images/dropdown-bg.png") right top repeat-y !important;
	color: #000 !important;
}

.dropdown-toggle .caret {
	background: url("../images/icons/caret-down.png") center center no-repeat;
	width: 19px;
	height: 10px;
	border: none;
	right: 10px !important;
	margin-top: -5px !important;
}

.dropdown-menu.open {
	background: none;
	padding: 0 0 30px;
	margin: 0;
	box-shadow: none;
	border: none;
}

.dropdown-menu.inner {
	border-radius: 0;
	background-color: #4a524e !important;
	color: #fff;
	margin: 0;
}

.dropdown-menu.pad {
	padding: 10px 15px !important;
	min-width: 190px !important;
	width: 100%;
}

.dropdown-menu a {
	color: #fff;
}

.dropdown-menu a:hover {
	background-color: #434a47;
}

.input-slider {
	margin: -15px 0 20px;
	position: relative;
	z-index: 100;
}

#win-lose-actions .radio.first {
	margin-bottom: 30px;
}

#how-to-play-game h4 {
	margin-bottom: 30px;
	font-size: 13px;
	text-transform: uppercase;
}

.play-autoplay {
	margin-top: 10px;
}

.play-autoplay a {
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

.decrease-percentage, .increase-percentage {
	padding-left: 35px;
}

/* My Account */
.deposit-row .address-discreption, .deposit-row .bitcon-address, .deposit-row .litecoin-address {
	line-height: 40px;
}

.deposit-row .address-discreption {
	font-size: 13px;
	text-transform: uppercase;
}

.deposit-row .bitcon-address, .deposit-row .litecoin-address {
	font-size: 15px;
}

/* My Achievements */
.row.achievements {
	margin-top: 25px;
}

.row.achievements.first {
	margin-top: 0;
}

/* affiliate */
#affiliate #affiliate-statuses [class^="col-"] {
	border-left: 1px solid #2a2e2c;
}

#affiliate .row {
	margin-left: -35px;
	margin-right: -35px;
}

#affiliate .row [class^="col-"] {
	padding-left: 35px;
	padding-right: 35px;
}

#affiliate .form-group {
	margin-bottom: 0;
}

#affiliate .form-group h5 {
	line-height: 40px;
}

.map {
	width: 100%;
	height: 350px;
}

#overlay {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity=97);
	-webkit-opacity: 0.97;
	-moz-opacity: 0.97;
	-o-opacity: 0.97;
	-ms-opacity: 0.97;
	opacity: 0.97;
	z-index: 10000;
	padding: 25% 30%;
}

/* Small screens */
@media (max-width: 980px) {
	#my-account-settings .nav-tabs li {
		display: block;
		float: none;
		width: 100%;
		border-bottom: 1px solid #191d1c !important;
		margin-bottom: 0;
	}

	#unique-affiliate-link {
		margin-bottom: 30px;
	}

	#affiliate #affiliate-statuses [class^="col-"]:first-child {
		border-left: none;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 25px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 16px;
	}

	#header {
		padding: 15px 20px;
	}

	#main-navigation .nav a#facebook, #main-navigation .nav a#twitter {
		text-indent: 0;
		background-position: 15px center;
		padding-left: 40px;
	}

	#main-section-header .navbar {
		font-size: 13px !important;
	}

	#main-section-header .navbar a {
		padding: 0 5px;
	}

	#main-section-header .navbar .navbar-toggle {
		margin-right: 10px;
	}

	div[class^="col-"] {
		padding-left: 20px;
		padding-right: 20px;
	}

	table th {
		display: none;
	}

	table td {
		display: block;
		text-align: left !important;
		padding: 10px !important;
	}

	table td .label {
		display: inline-block;
		width: 50%;
		text-align: right;
		padding-right: 15px;
	}

	#game-play .win .win-value, #game-play .lose .loss-value {
		display: inline-block;
		padding: 2px 8px;
	}

	#affiliate #affiliate-statuses [class^="col-"] {
		border-left: none;
	}

	#affiliate #affiliate-statuses [class^="col-"] .form-group {
		border-top: 1px solid #2a2e2c;
		padding-top: 20px;
		margin-top: 15px;
	}

	#my-account-settings #my-achievements .achievement-icon .achievement-score {
		top: 0;
		right: 0;
		padding: 5px;
		border: 1px solid #000;
		font-size: 13px;
	}

	#autoplay-options, .keyboard-betting {
		text-align: center;
	}

	.keyboard-betting {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.form-inline .control-label {
		margin-bottom: 0;
	}

	.deposit-row [class^="col-"] {
		margin-bottom: 20px;
	}

	.deposit-row [class^="col-"] * {
		line-height: normal;
	}

	.deposit-row .bitcon-address, .deposit-row .litecoin-address {
		font-size: 13px;
	}
}