.help-block.error {
    background: none !important;
    color: red;
}

#sidebar-navigation #profile .bets > div:first-child, #sidebar-navigation #stats .stats > div:first-child {
    border-right: 1px solid #303030;
    padding-left: 0;
}

#sidebar-navigation #profile .bets > div:last-child, #sidebar-navigation #stats .stats > div:last-child {
    border-left: 1px solid #131313;
    padding-right: 0;
}

.chatbox {
    background-image: none !important;
}

.chatbox.error {
    background: red !important;
}

.chatbox.whisper {
    background: #ccc !important;
}

#sidebar-navigation article:last-child {
    margin-bottom: 110px;
}

.navbar-right li:last-child a {
    padding-right: 0;
}

.too-many .checkbox .icheckbox.checked,
.too-many .radio .iradio.checked {
    background-color: #B11900 !important;
}

.icheckbox {
    height: 23px;
}

.fancybox-inner {
    max-width: 500px;
}

input[type=text][readonly] {
    background: #aaa;
    color: #222;
}

.input-slider {
    margin-top: 0;
    margin-bottom: 5px;
}

.slider.slider-horizontal {
    height: auto;
}

a.change-bet {
    display: inline-block;
    background: #303633;
    color: #B4B4B4;
    text-decoration: none;
    padding: 11px 20px;
}

a.change-bet:hover {
    background: #4a524e;
}

#edendice-bet-amount-range {
    padding-top: 3px;
}

#key-betting-instructions {
    margin-right: 0;
}

#main-section-header #litecoin-game-balances {
    margin-top: 8px;
    padding-left: 0;
}

#max-profit {
    margin-bottom: 20px;
}

#sidebar-navigation .nav-tabs .chats a {
    background: url("../images/icons/chat.png") center center no-repeat;
}

.chats {
    position: relative;
}

.chats-count {
    color: #ccc;
    position: absolute;
    bottom: 0;
    right: 5px;
}

#profile-nav #nav-invest a, #profile-nav #nav-deposit a {
    color: #fff;
}

#profile-nav #nav-deposit a {
    background-color: inherit;
    color: #fff;
}

#profile-nav #nav-deposit a span {
    background-image: url("../assets/images/icons/nav-unselected.png") !important;
}

#profile-nav #nav-deposit a:hover {
    background-color: #292929;
    background-color: rgba(255,255,255,0.03) !important;
}

#profile-nav #nav-deposit a:hover span {
    background-image: url("../assets/images/icons/nav-hover.png") !important;
}

hr {
    margin-top: 5px;
}

#key-betting-instructions.play-cancel {
    background-color: #e4303b !important;
    color: white !important;
}

.radio-label {
    padding: 0 5px;
}

.chatbox {
    color: #ddd;
}

#game-play .leaderboard .nav-tabs a {
    padding: 15px;
}

.leaderboard > div {
    margin-bottom: 40px;
}

.leaderboard .tab-pane {
    background: #2a2e2c;
    padding: 20px;
}

.leaderboard .value {
    font-style: italic;
    color: #999;
}

.leaderboard ol li {
    line-height: 150%;
}

.leaderboard ol li:nth-child(1) {
    font-size: 150%;
}

.leaderboard ol li:nth-child(2) {
    font-size: 125%;
}

.leaderboard ol li:nth-child(3) {
    font-size: 125%;
}

.leaderboard h3 {
    font-size: 100%;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-transform: none;
}

.leaderboard .no-data {
    color: #999;
}

#game-play-section {
    padding-bottom: 200px;
}